.burger {
  width: 56px;
  height: 35px;
  margin-right: 45px;
  border: 0;
  padding: 0;
  background: unset;
  transform: rotate(0);
  transition: transform 0.275s ease;
  display: none;
  cursor: pointer;
}
.burger_active {
  transform: rotate(90deg);
}
@media (max-width: 1310px) {
  .burger {
    display: block;
  }
}

.burger-menu {
  position: fixed;
  left: 0;
  top: 97px;
  height: 0%;
  background-color: white;
  width: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  transition: height 0.275s ease;
  overflow: hidden;
}
.burger-menu_active {
  height: calc(100% - 97px);
}
.burger-menu__link {
  width: 100%;
  padding: 40px 24px;
  text-align: center;
  box-sizing: border-box;
  color: #3b3a63;
  font-size: 18px;
  text-decoration: none;
}

.modal {
  background: white;
  border-radius: 5px;
  position: relative;
  min-width: 300px;
  max-width: 450px;
  min-height: 50px;
  max-height: calc(100vh - 40px);
  overflow: scroll;
}
.modal-close {
  position: relative;
}
.modal-close::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #000000;
  display: block;
  position: absolute;
  top: 11px;
  transform: rotate(45deg);
}
.modal-close::before {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #000000;
  display: block;
  position: absolute;
  top: 11px;
  transform: rotate(-45deg);
}
.modal-close-wrapper {
  height: 24px;
  width: 24px;
  color: #1f1f1f;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  cursor: pointer;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.275s ease;
}
.modal-backdrop_active {
  pointer-events: auto;
  opacity: 1;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.275s ease;
}
.modal-wrapper_active {
  pointer-events: auto;
  opacity: 1;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
html {
  font-family: "Roboto";
}

main {
  margin-top: 97px;
}

main > section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.left-side {
  margin-left: auto;
  display: flex;
  align-items: center;
}

main > section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px;
}

body {
  background: #f2f2f2;
  padding-bottom: 300px;
}

.aheader {
  width: 100%;
  height: 97px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.aheader__container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  height: 100%;
}

@media all and (max-width: 1200px) {
  .aheader__container {
    padding: 0 56px;
  }
}
.aheader__link-wrap {
  display: flex;
  height: 100%;
  margin-left: 44px;
}

.aheader__link {
  padding: 0 9px;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.aheader__link:hover {
  border-top: 4px solid #ef7f04;
  color: #ef7f04;
}

.aheader__btn-wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 100%;
}

@media (max-width: 1310px) {
  .aheader__link-wrap {
    display: none;
  }
  .aheader__burger {
    display: block;
  }
}
.house-window {
  width: 100%;
  max-width: none;
  background-image: url(../images/house-window/house-window-bg.jpg);
  box-sizing: border-box;
  background-size: cover;
  overflow: hidden;
}

.house-window__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 70px 63px;
}

.house-window__about {
  display: flex;
  flex-direction: column;
}

.house-window__about-header h1 {
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}

.orange-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ef7f04;
}

.house-window__about-items {
  display: flex;
  margin-top: 18px;
}

.house-window__about-item {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 33px;
}

.house-window__about-item-icon {
  max-height: 80px;
  margin-bottom: 20px;
}

.house-window__about-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  max-width: 176px;
}

.house-window__form {
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 406px;
  padding: 43px 40px 86px;
  box-sizing: border-box;
  position: relative;
}

.house-window__form-header {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #2f2f51;
  margin-bottom: 27px;
}

.house-window__form-input {
  background: #e2e2e2;
  border-radius: 3px;
  padding: 16px 12px;
  margin-bottom: 15px;
  border: 0;
  /* width: 100%; */
  width: calc(100% - 32px);
}

.house-window__form-input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #424268;
}

.house-window__form-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #424268;
}

.house-window__form-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #424268;
}

.house-window__form-checkbox-container {
  display: flex;
}

input.house-window__form-checkbox {
  display: none;
}

.house-window__form-checkbox svg path {
  stroke-dasharray: 197;
  stroke-dashoffset: 157;
  transition: all 0.127s ease;
}

input:checked + .house-window__form-checkbox svg path {
  transition: all 0.127s ease;
  stroke-dasharray: 197;
  stroke-dashoffset: 197;
}

.house-window__form-checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin-left: 10px;
  display: block;
}

.house-window__form-checkbox-text a {
  text-decoration: none;
  color: #4b67af;
}

.house-window__form-button-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.house-window__form-ruler-img {
  position: absolute;
  bottom: -50px;
  left: -86px;
}

@media all and (max-width: 1200px) {
  .house-window__container {
    justify-content: flex-start;
  }
  .house-window__form-container {
    margin-top: 100px;
    display: none;
  }
}
.services__header {
  padding: 48px 0;
}
.services__row {
  display: flex;
  margin-bottom: 10px;
}
@media all and (max-width: 992px) {
  .services__row {
    flex-direction: column;
    align-items: center;
  }
}
.services__item {
  display: flex;
  flex-direction: column;
  padding: 32px 52px;
  background-size: cover;
  background-position-x: right;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
}
.services__item:first-child {
  margin-right: 10px;
}
@media all and (max-width: 992px) {
  .services__item {
    margin-bottom: 38px;
    max-width: 595px;
    width: 100%;
  }
  .services__item:first-child {
    margin-right: 0;
  }
}
.services__item-row {
  display: flex;
  align-items: center;
}
.services__item-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-left: 20px;
  color: #2f2f51;
}
.services__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  max-width: 303px;
  margin-top: 32px;
  color: #2f2f51;
}

.company {
  color: inherit;
}
.company__button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.company__button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #2f2f51;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.125s ease;
  padding: 8px 25px;
  margin: 0 4px;
}
.company__button:hover {
  background: #ef7f04;
  color: #ffffff;
}
.company__button:active {
  transform: scale(0.9);
}
.company__content-row {
  display: flex;
  flex: 1 1;
}
.company__content-item {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1;
}
.company__content-item-row {
  display: flex;
  margin: 48px;
}
.company__content-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-left: auto;
  max-width: 300px;
}
.company__content-item-logo {
  width: 198px;
  height: 139px;
}
.company__content-item-img {
  background-image: url("../images/worker.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}
.company__skill-container {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}
.company__skill-container-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
}
.company__skill {
  box-sizing: border-box;
  display: flex;
  padding: 12px;
  width: 33.3333%;
}
.company__skill:first-child {
  margin-bottom: 100px;
}
@media all and (max-width: 992px) {
  .company__skill {
    width: 50%;
    margin-bottom: 24px;
  }
  .company__skill:first-child {
    margin-bottom: 24px;
  }
}
.company__skill-icon {
  margin-right: 24px;
  height: 75px;
}
.company__skill-header {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  color: #2f2f51;
}
.company__skill-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

.order-button {
  display: flex;
  justify-content: center;
  padding: 85px 0;
}

.portfolio {
  background-color: #ffffff;
  border-radius: 3px;
}
.portfolio__img-row {
  padding: 0 100px 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio__img {
  margin-right: 45px;
  border-radius: 3px;
  max-width: 215px;
  max-height: 215px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}
.portfolio__img:last-child {
  margin-right: 0;
}
@media all and (max-width: 1200px) {
  .portfolio__img {
    display: block;
    margin-bottom: 45px;
  }
  .portfolio__img:nth-child(2) {
    margin-right: 0;
  }
}
.portfolio__img-breackpoint {
  flex-basis: 100%;
  display: none;
}
@media all and (max-width: 1200px) {
  .portfolio__img-breackpoint {
    display: block;
  }
}

.aheader {
  width: 100%;
  height: 97px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.aheader__container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  height: 100%;
}

@media all and (max-width: 1200px) {
  .aheader__container {
    padding: 0 56px;
  }
}
.aheader__link-wrap {
  display: flex;
  height: 100%;
  margin-left: 44px;
}

.aheader__link {
  padding: 0 9px;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.aheader__link:hover {
  border-top: 4px solid #ef7f04;
  color: #ef7f04;
}

.aheader__btn-wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 100%;
}

@media (max-width: 1310px) {
  .aheader__link-wrap {
    display: none;
  }
  .aheader__burger {
    display: block;
  }
}
.qa {
  background: #ef7f1a;
  padding: 40px 60px;
}
.qa__details {
  width: 100%;
  margin-bottom: 14px;
  padding: 0 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #fff;
  box-sizing: border-box;
  max-height: 82px;
  transition: max-height 0.274s ease;
}
.qa__details[open] {
  padding-bottom: 20px;
  max-height: 300px;
}
.qa__details[open] .qa__icon {
  transform: rotate(180deg);
}
.qa__summary {
  list-style: none;
  height: 82px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2f2f51;
}
.qa__summary:hover {
  color: #ef7f04;
}
.qa__summary:hover svg path {
  stroke: #ef7f04;
}
.qa__summary::after {
  content: url(../../images/logo.png);
}
.qa__icon {
  transition: all 0.275s ease;
  margin-left: auto;
}

.house-btn--blue {
  background: #ef7f04;
  border-radius: 3px;
  padding: 12px;
  border: 0;
  margin-right: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  display: flex;
  align-items: center;
  background: #3b3a63;
  cursor: pointer;
}

.house-btn--blue img {
  margin-right: 12px;
}

.house-btn--orange {
  background: #ef7f04;
  border-radius: 3px;
  padding: 12px;
  border: 0;
  margin-right: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  display: flex;
  align-items: center;
  background: #ef7f04;
  cursor: pointer;
}

.house-btn--orange img {
  margin-right: 12px;
}

.section-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 48px;
  display: block;
  color: #2f2f51;
}/*# sourceMappingURL=style.css.map */