*,
html {
    font-family: 'Roboto';
}

main {
    margin-top: $header-height;
}

main > section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.left-side {
    margin-left: auto;
    display: flex;
    align-items: center;
}

main > section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
}



body {
    background: #f2f2f2;
    padding-bottom: 300px;
}