@import "./var";
@import "./blocks/burger/burger";
@import "./blocks/modal/modal";

@import "./reset.scss";
@import "./common";
@import "./blocks/header";
@import "./blocks/house-window.scss";
@import "./blocks/services.scss";
@import "./blocks/company.scss";
@import "./blocks/portfolio.scss";
@import "./blocks/header.scss";
@import "./blocks/qa.scss";

@import "./elements/house-btn.scss";
@import "./elements/section-header.scss";

$max-width: 1200px;
$house-orange: #ef7f04;
$house-blue: #3b3a63;









