

.burger {
    width: 56px;
    height: 35px;
    margin-right: 45px;

    border: 0;
    padding: 0;
    background: unset;
    transform: rotate(0);
    transition: transform .275s ease;

    display: none;
    cursor: pointer;

    &_active {
        transform: rotate(90deg);
    }

    @media (max-width: 1310px) {
        display: block;
    }
}

.burger-menu {
    position: fixed;
    left: 0;
    top: $header-height;
    height: calc(0%);
    background-color: white;
    width: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    transition: height .275s ease;
    overflow: hidden;

    &_active {
        height: calc(100% - $header-height);
    }

    &__link {
        width: 100%;
        padding: 40px 24px;
        text-align: center;
        box-sizing: border-box;

        color: #3b3a63;
        font-size: 18px;
        text-decoration: none;
    }
}
