$close-size: 24px;


@mixin close-item {
    content: '';
    width: $close-size;
    height: 2px;
    background-color: #000000;
    display: block;
    position: absolute;
    top: calc($close-size/2 - 1px)
}


.modal {
    background: white;
    border-radius: 5px;
    position: relative;
    min-width: 300px;
    max-width: 450px;

    min-height: 50px;
    max-height: calc(100vh - 40px);
    overflow: scroll;

    &-close {
        position: relative;        

        &::after {
            @include close-item();
            transform: rotate(45deg);
        }

        &::before {
            @include close-item();
            transform: rotate(-45deg);
        }

        &-wrapper {
            height: $close-size;
            width: $close-size;
            color: #1f1f1f;
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 1;
            cursor: pointer;
        }
    }
    

    &-backdrop {
        background-color: rgba($color: #000000, $alpha: 0.85);
        position: fixed;
        z-index: 99999999;
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        opacity: 0;
        pointer-events: none;
        transition: opacity .275s ease;

        &_active {
            pointer-events: auto;
            opacity: 1;
        }
    }

    &-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999999999;
        opacity: 0;
        pointer-events: none;
        transition: opacity .275s ease;
        

        &_active {
            pointer-events: auto;
            opacity: 1;
        }
    }


}

