*,
html {
    font-family: 'Roboto';
}

body {
    background: #1b2473;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    width: 100%;
    max-width: 600px;
    background: #ffffff;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 30px 45px 26px;
}

.sign-up_link-container {
    display: flex;
    width: 100%;
}

.sign-up_link {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #1a226b;
    margin-left: auto;
}

.sign-up__header {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
    text-align: center;
}

.sign-up__fieldset {
    margin-top: 13px;
}

.fieldset {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 16px;
}

.fieldset_error {
    color: #cb2424;
}

.fieldset__label {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
    margin-bottom: 3px;
}

.fieldset_error .fieldset__label {
    color: #cb2424;
}

.fieldset__label::before {
    content: '*';
    display: block;
    position: absolute;
    bottom: 40px;
    left: -10px;
}

.fieldset_error .fieldset__label::before {
    color: #cb2424;
}

.fieldset__input {
    background: #ffffff;
    border: 2px solid #787878;
    border-radius: 10px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
    color: #787878;
}

.fieldset_error .fieldset__input {
    border: 2px solid #cb2424;
    color: #cb2424;
}

.fieldset__input::placeholder {
    color: #cccccc;
}

.fieldset__error {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #cb2424;
    display: none;
    position: absolute;
    bottom: 0;
}

.fieldset_error .fieldset__error {
    display: block;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit__button {
    background: #1a226b;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #ffffff;
    padding: 18px;
    border: 0;
}

.checkbox {
    display: flex;
    flex-direction: column;
}

.checkbox__label {
}

.checkbox__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #787878;
}

.checkbox__text-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #787878;
}
