$breakpoint: 992px;

.company {
    color: inherit;

    &__button-row {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    &__button {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #2f2f51;
        border-radius: 3px;
        text-decoration: none;
        transition: all 0.125s ease;
        padding: 8px 25px;
        margin: 0 4px;

        &:hover {
            background: #ef7f04;
            color: #ffffff;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__content-row {
        display: flex;
        flex: 1 1;
    }

    &__content-item {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1;
    }

    &__content-item-row {
        display: flex;
        margin: 48px;
    }

    &__content-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        margin-left: auto;
        max-width: 300px;
    }

    &__content-item-logo {
        width: 198px;
        height: 139px;
    }

    &__content-item-img {
        background-image: url('../images/worker.png');
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    &__skill-container {
        display: flex;
        flex-direction: column;
        margin-top: 72px;
    }

    &__skill-container-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 12px;
    }

    &__skill {
        box-sizing: border-box;
        display: flex;
        padding: 12px;

        width: 33.3333%;

        &:first-child {
            margin-bottom: 100px;
        }

        @media all and (max-width: $breakpoint) {
            width: 50%;
            margin-bottom: 24px;

            &:first-child {
                margin-bottom: 24px;
            }
        }
    }

    &__skill-icon {
        margin-right: 24px;
        height: 75px;
    }

    &__skill-header {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;

        text-transform: uppercase;

        color: #2f2f51;
    }

    &__skill-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;

        color: #000;
    }
}

.order-button {
    display: flex;
    justify-content: center;
    padding: 85px 0;
}
