
.aheader {
    width: 100%;
    height: $header-height;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.aheader__container {
    margin: 0 auto;
    max-width: 1200px;

    display: flex;
    align-items: center;
    height: 100%;
}

@media all and (max-width: 1200px) {
    .aheader__container {
        padding: 0 56px;
    }
}

.aheader__logo-wrap {

}




.aheader__logo {

}

.aheader__link-wrap {
    display: flex;
    height: 100%;
    margin-left: 44px;
}

.aheader__link {
    padding: 0 9px;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.aheader__link:hover {
    border-top: 4px solid #ef7f04;
    color: #ef7f04;
}


.aheader__btn-wrap {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
}

@media (max-width: 1310px) {
    .aheader__link-wrap {
        display: none;
    }

    .aheader__burger {
        display: block;
    }
}



