.house-window {
    width: 100%;
    max-width: none;
    background-image: url(../images/house-window/house-window-bg.jpg);
    box-sizing: border-box;
    background-size: cover;
    overflow: hidden;
}

.house-window__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 70px 63px;
}

.house-window__about {
    display: flex;
    flex-direction: column;
}

.house-window__about-header h1 {
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 42px;

    color: #fff;
}

.orange-header {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #ef7f04;
}

.house-window__about-items {
    display: flex;
    margin-top: 18px;
}

.house-window__about-item {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 33px;
}

.house-window__about-item-icon {
    max-height: 80px;
    margin-bottom: 20px;
}

.house-window__about-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    max-width: 176px;
}

.house-window__form-container {
}

.house-window__form {
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 406px;
    padding: 43px 40px 86px;
    box-sizing: border-box;

    position: relative;
}

.house-window__form-header {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2f2f51;
    margin-bottom: 27px;
}

.house-window__form-input {
    background: #e2e2e2;
    border-radius: 3px;
    padding: 16px 12px;
    margin-bottom: 15px;
    border: 0;
    /* width: 100%; */
    width: calc(100% - 16px * 2);
}

.house-window__form-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #424268;
}

.house-window__form-checkbox-container {
    display: flex;
}

input.house-window__form-checkbox {
    display: none;
}

.house-window__form-checkbox svg path {
    stroke-dasharray: 197;
    stroke-dashoffset: 157;
    transition: all 0.127s ease;
}

input:checked + .house-window__form-checkbox svg path {
    transition: all 0.127s ease;

    stroke-dasharray: 197;
    stroke-dashoffset: 197;
}

.house-window__form-checkbox-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
    margin-left: 10px;
    display: block;
}

.house-window__form-checkbox-text a {
    text-decoration: none;
    color: #4b67af;
}

.house-window__form-button-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.house-window__form-ruler-img {
    position: absolute;
    bottom: -50px;
    left: -86px;
}

@media all and (max-width: 1200px) {
    .house-window__container {
        justify-content: flex-start;
    }

    .house-window__form-container {
        margin-top: 100px;
        display: none;
    }
}
