$breackpoint: 1200px;

@mixin for-mobile {
    @media all and (max-width: $breackpoint) {
        @content;
    }
}

.portfolio {
    background-color: #ffffff;
    border-radius: 3px;

    &__img-row {
        padding: 0 100px 70px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__img {
        $m: 45px;
        margin-right: $m;
        border-radius: 3px;

        max-width: 215px;
        max-height: 215px;
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));

        &:last-child {
            margin-right: 0;
        }

        @include for-mobile {
            display: block;
            margin-bottom: $m;

            &:nth-child(2) {
                margin-right: 0;
            }
        }

        &-breackpoint {
            flex-basis: 100%;
            display: none;

            @include for-mobile {
                display: block;
            }
        }
    }
}
