.qa {
    background: #ef7f1a;
    padding: 40px 60px;
    &__details {
        width: 100%;
        margin-bottom: 14px;
        padding: 0 32px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        background-color: #fff;
        box-sizing: border-box;
        max-height: 82px;
        transition: max-height .274s ease;

        &[open] {
            padding-bottom: 20px;
            max-height: 300px;
            
            .qa__icon {
                transform: rotate(180deg);
            }
        }
    }

    &__summary {
        list-style: none;
        height: 82px;
        display: flex;
        align-items: center;


        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #2f2f51;

        &:hover {
            color: #ef7f04;

            svg path {
                stroke: #ef7f04;
            }
        }

        &::after {
            content: url(../../images/logo.png);
        }
    }

    &__icon {
        transition: all .275s ease;
        margin-left: auto;
    }
}
