$breakpoint: 992px;

.services {
    &__header {
        padding: 48px 0;
    }

    &__row {
        display: flex;
        margin-bottom: 10px;

        @media all and (max-width: $breakpoint) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 32px 52px;
        background-size: cover;
        background-position-x: right;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
        border-radius: 3px;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
        box-sizing: border-box;

        &:first-child {
            margin-right: 10px;
        }

        @media all and (max-width: $breakpoint) {
            margin-bottom: 38px;
            max-width: 595px;
            width: 100%;

            &:first-child {
                margin-right: 0;
            }
        }
    }

    &__item-row {
        display: flex;
        align-items: center;
    }

    &__item-header {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-left: 20px;
        color: #2f2f51;
    }

    &__item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        max-width: 303px;
        margin-top: 32px;
        color: #2f2f51;
    }
}


